#skills{
    margin-top: 10rem;
    margin-right: 10rem;
    margin-left: 10rem;
    padding-inline: 2rem;
}

.skills-sec{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

@media (max-width: 800px) {
    .skills-sec{
        display: flex;
        flex-direction: column;
        justify-self: center;
    }
}