header {
  margin: 0;
  background-image: "./assets";
}

#bg-video{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -10;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    margin-bottom: 2rem;
}

.header-text {
  position: relative;
  z-index: 1;
  padding: 3rem;
  color: azure;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
}

h2 {
  font-weight: bold;
  font-size: 1.5rem;
  background: linear-gradient(
    to right,
    rgb(61, 80, 253),
    rgb(11, 251, 251),
    rgb(116, 251, 177)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h4 {
  font-weight: 400;
  font-size: small;
}
