nav{
    background-color: hsl(250, 84%, 5%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-link li a{
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: azure;
}

.download-btn{
    background-color: hsl(152, 100%, 45%);
    padding: 0.5rem 2rem;
    border: 1px solid rgb(0, 23, 0);
    border-radius: 2rem;
    position: relative;
    right: 1rem;
}

.download-btn:hover{
    background-color: hsl(152, 96%, 50%);
    font-weight: 600;
    color: rgb(0, 6, 4);
}