.skills-card{
    border: 2px solid white;
    margin: 0.5rem;
    border-radius: 30px;
    padding: 2rem;
    width: 15rem;
    align-content: start;
    text-align: start;
    display: flex;
    flex-direction: row;
}

.skills-card:hover{
    box-shadow: 1px 2px 8px 5px rgba(255, 255, 255, 0.48);
    border: 3px white;
}

.skill-img{
    width: 2.5rem;
    margin-right: 4rem;
    margin-left: 0;
}

.skill-name{
    font-size: 2rem;
    margin-right: 2rem;
}